 @media screen and (max-width:1200px){
     .row{
         width: 100%;
         padding: 0 30px;
     }
     .hero-text-box {
         width: 100%;
     }
 }
 @media screen and (max-width:1124px){
    .hero-text-box {
        width: 100%;
    }
     section{
         width: 100%;
     }
     .grid-proccess-container{
        grid-template-columns: repeat(2, 1fr)
     }
     .pual{
         height: 100%;
     }
 }
 
 @media screen and (max-width:768px){
     .hero-text-box{
         width: 100%;
     }
 }
 @media screen and (max-width:480px){
    .grid-portfolio-container {
        grid-template-columns:repeat(1fr)
    }
    .hero-text-box{
        width: 100%;
    }
    body{
        width: 100%;
    }
    
}